    <nav>
        <h1>Prohlížeč databáze zaměstnanců</h1>
        <ul>
            <li><a href="/IP3/11_SmallViewer/active/public/room/list.php">Místnosti</a></li>
            <li><a href="/IP3/11_SmallViewer/active/public/employee/list.php">Lidé</a></li>
        </ul>
    </nav>
